img{
  width: 120px;
  height: auto;
}

.parrot{
  animation-duration: 3s;
  animation-name: fly;
  animation-fill-mode: forwards;
  /*animation fly 3s forwards*/
  position: absolute;
  right: 0px;
  top: 0px;
}
@keyframes fly {
from{
  right:0px;
  top:0px;
}
  to {
    right: 1300px;
    top:600px;
  }
}
