img{
  width: 120px;
  height: auto;
}

.parrot{
  animation-duration: 3s;
  animation-name: fly;
  animation-fill-mode: forwards;
  transform: translate(0%, 100%) rotate(90deg);
  animation fly 3s forwards;
  position: absolute;
  right: 0px;
  top: 0px;
}
@keyframes fly {
0%{
  right:0px;
  top:0px;
  transform: rotate(0deg);
}
50%{
  right:1300px;
  top: 0px;
}
100% {
    right: 1300px;
    top:600px;
    transform: rotate(180deg);
  }
}
